@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');
$colors: (
    // ### Primary

    Light-Cyan: hsl(193, 38%, 86%),
    Neon-Green: hsl(150, 100%, 66%),

    // ### Neutral

    Grayish-Blue: hsl(217, 19%, 38%),
    Dark-Grayish-Blue: hsl(217, 19%, 24%),
    Dark-Blue: hsl(218, 23%, 16%)
);

@function color($color-name){

    @return map-get($colors, $color-name)
}

*{
    font-family:  'Manrope', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: color(Dark-Blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.advice-container{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    max-width: 450px;
    width: 90%;
    background-color: color(Dark-Grayish-Blue);
    border-radius: 0.5rem;
    text-align: center;
    position: relative;

    .loading{
        background-color: color(Grayish-Blue);
        min-height: 30px;
        position: relative;
        // overflow: hidden;
        border-radius: 0.5rem;
    }

    .loading::before{

        content: " ";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, transparent,  #4f5a6a, transparent);
        transform: translateX(-100%);
        animation: loader 1s infinite;
    }

    @keyframes loader {
        100%{
            transform: translateX(100%);
        }
    }

    .ID{
        width: 120px;
        margin-top: 30px;
        font-weight: bold;
        font-size: 0.8rem;
        color: color(Neon-Green);
    }

    .text{
        
        margin-top: 20px;
        margin-bottom: 20px;
        width: 80%;
        font-weight: bolder;
        color: color(Light-Cyan);
    }
    
    .desktop-svg{
        display: block;
        width: 80%;
        margin-top: 10px;
        margin-bottom: 40px;
    }
    
    .mobile-svg{
        display: none;
        
    }
    

    .btn{
        cursor: pointer;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: color(Neon-Green);
        
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        // top: 0;
        bottom: 0;
        right: 50%;
        transform: translate(50%, 50%);
    }

    .btn:hover{
        color: white;
        box-shadow: 0 5px 15px
        hsla(150, 100%, 66%, .4);
    }
}


@media screen and (max-width: 400px) {
    .desktop-svg{
        display: none;

    }

    .mobile-svg{
        display: block;
        width: 80%;
        margin-top: 15px;
        margin-bottom: 15px;   
    }
}